<mat-card>
  <form [formGroup]="passwordChange">
    <div fxLayout="row wrap" class="col-gap" fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
        <h4>Cambiar contraseña</h4>
        <mat-form-field class="w-100 mb-3">
          <input matInput placeholder="Contraseña Actual" type="password" formControlName="passwordCurrent" required>
          <mat-error
            *ngIf="passwordChange.get('passwordCurrent').hasError('required') && passwordChange.get('passwordCurrent').touched">
            {{requerid}}
          </mat-error>
          <mat-error>
            {{errors.passwordCurrent}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3">
          <input onlyLetters [type]="!hide ? 'password' : 'text'" matInput placeholder="Nueva contraseña"
            formControlName="passwordNew" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="passwordChange.get('passwordNew').hasError('required') && passwordChange.get('passwordNew').touched">
            {{requerid}}
          </mat-error>
          <mat-error
            *ngIf="!passwordChange.get('passwordNew').hasError('required') &&
             (passwordChange.controls['passwordNew'].pristine || passwordChange.controls['passwordNew'].errors?.validPassword)">
            No cumple con los requerimientos de contraseña</mat-error>
          <mat-error>
            {{errors.passwordNew}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3">
          <input onlyLetters matInput placeholder="Confirmación nueva contraseña" type="password"
            formControlName="passwordRepeat" required>
          <mat-error
            *ngIf="passwordChange.get('passwordRepeat').hasError('required') && passwordChange.get('passwordRepeat').touched">
            {{requerid}}
          </mat-error>
          <mat-error *ngIf="!passwordChange.get('passwordRepeat').hasError('required') 
            && (passwordChange.controls['passwordRepeat'].pristine 
            || passwordChange.controls['passwordRepeat'].errors?.MatchPassword)">
            Las contraseñas no coinciden</mat-error>
          <mat-error>
            {{errors.passwordRepeat}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
        <mat-card>
          <h4>Requerimientos de contraseña</h4>
          <div>
            <a>
              <i class="material-icons">subdirectory_arrow_right</i><span>Debe tener un minimo de 8 digitos y un maximo
                de 16 digitos</span>
            </a>
          </div>
          <div>
            <a>
              <i class="material-icons">subdirectory_arrow_right</i><span>Debe tener 2 carateres especiales</span>
            </a>
          </div>
          <div>
            <a>
              <i class="material-icons">subdirectory_arrow_right</i><span>Debe tener 2 letras mayusculas</span>
            </a>
          </div>
          <div>
            <a>
              <i class="material-icons">subdirectory_arrow_right</i><span>Debe tener 2 numeros</span>
            </a>
          </div>
        </mat-card>
      </div>
    </div>
    <button mat-raised-button color="accent" [disabled]="!passwordChange.valid" (click)="submit()">Guardar</button>
  </form>
</mat-card>