
<mat-card class="py-4 pb-3">
 
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
     
   
 
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
       <div class="pr-3">
         <div class="dash-title" >Empleados</div>
      </div>
     </div>
 
     <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" style="text-align: right;">
      <div class="contact-btn" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="300px" fxFlex.lg="300px" fxFlex.xl="300px"> 
        <button class="" mat-raised-button style="background-color: darkgray;"  >Asignar PIN a Todos<mat-icon class="ml-2">add</mat-icon></button>
     </div>  
    </div>

    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" style="text-align: right;">
      <div class="contact-btn" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="300px" fxFlex.lg="300px" fxFlex.xl="300px"> 
        <button class="" mat-raised-button style="background-color: darkgray;"  >Imprimir PIN para Todos<mat-icon class="ml-2">add</mat-icon></button>
     </div>  
    </div>
   
 </div>
 
 </mat-card>

<mat-card>
    <ng-container>
        <div class="table-responsive-x">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-scroll-wrap">

            <!-- Name Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element"> {{element.action}} </td>
            </ng-container>

            <!-- Attempts Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <ng-container matColumnDef="planta">
              <th mat-header-cell *matHeaderCellDef> Planta </th>
              <td mat-cell *matCellDef="let element"> {{element.planta}} </td>
            </ng-container>

            <!-- Expiracion day Column -->
            <ng-container matColumnDef="fullname">
              <th mat-header-cell *matHeaderCellDef> Nombre(s) y Apellido(s) </th>
              <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
            </ng-container>

            <!-- Cant Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> E-mail </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="pin">
              <th mat-header-cell *matHeaderCellDef> PIN Asignado </th>
              <td mat-cell *matCellDef="let element"> {{element.pin}} </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="asig">
              <th mat-header-cell *matHeaderCellDef> Última Asignación de PIN </th>
              <td mat-cell *matCellDef="let element"> {{element.asig}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </ng-container>
</mat-card>