
<mat-card class="py-4 pb-3">
 
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
     
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
     <div class="contact-btn" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="300px" fxFlex.lg="300px" fxFlex.xl="300px"> 
       <button class="" mat-raised-button color="primary" (click)="addUser()" >Agregar<mat-icon class="ml-2">add</mat-icon></button>
    </div>  
   </div>
 
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
       <div class="pr-3">
         <div class="dash-title" align="center">USUARIO</div>
      </div>
     </div>
 
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
      <div fxLayout="row wrap">
         <div class="form-group pr-3" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="calc(100% - 300px)" fxFlex.lg="calc(100% - 300px)" fxFlex.xl="calc(100% - 300px)">
            <mat-form-field class="w-100" >
             <input matInput  placeholder="Buscar">
            </mat-form-field>
         </div>
      </div>
   </div>
   
 </div>
 
 </mat-card>

<mat-card>
    <ng-container>
        <div class="table-responsive-x">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-scroll-wrap">

            <!-- Code Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="idTypeUser">
              <th mat-header-cell *matHeaderCellDef>Tipo Usuario</th>
              <td mat-cell *matCellDef="let element"> {{element.idTypeUser}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="boolDelete">
              <th class="px-3" mat-header-cell *matHeaderCellDef> Estatus </th>
              <td class="px-3" mat-cell *matCellDef="let element">
                 
                <mat-slide-toggle style =" margin-right: 6% !important;"  [checked]="element.boolDelete === true ? true : false" (change)="setValue( element,$event)"> 
                </mat-slide-toggle>
                <span *ngIf="element.boolDelete; then Temptrue else Tempfalse"></span>
                <ng-template #Temptrue>Activo</ng-template>
                <ng-template #Tempfalse>Inactivo</ng-template>
             </td>
            </ng-container>

              <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <th class="px-3" mat-header-cell *matHeaderCellDef> Modificar </th>
                <td class="px-3" mat-cell *matCellDef="let element"> 
                  <mat-icon  (click)="editUser(element)"aria-hidden="false" color="primary" style="cursor: pointer"aria-label="Example home icon">edit</mat-icon> 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </ng-container>
</mat-card>