<mat-card>
  <h4>Cambio de pregunta secreta</h4>
  <form [formGroup]="ChangeSecretQuestion">
    <div fxLayout="row wrap" class="col-gap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
        <mat-form-field class="w-100 mb-3">
          <input type="hidden" formControlName="secretQuestionCurrentCompare">
          <input matInput placeholder="Pregunta secreta actual" formControlName="secretQuestionCurrent">
        </mat-form-field>
        <mat-form-field class="w-100 mb-3">
          <input matInput placeholder="Respuesta secreta actual" formControlName="secretAnswerCurrent" required>
          <mat-error
            *ngIf="ChangeSecretQuestion.get('secretAnswerCurrent').hasError('required') && ChangeSecretQuestion.get('secretAnswerCurrent').touched">
            {{requerid}}</mat-error>
          <mat-error>{{errors.secretAnswerCurrent}}</mat-error>
          <mat-error
            *ngIf="!ChangeSecretQuestion.get('secretAnswerCurrent').hasError('required') &&
           (ChangeSecretQuestion.controls['secretAnswerCurrent'].pristine || ChangeSecretQuestion.controls['secretAnswerCurrent'].errors?.secretAnswerCurrentValid)">
            La respuesta secreta no coincide</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3">
          <input matInput placeholder="Nueva pregunta secreta" formControlName="secretQuestion" required>
          <mat-error
            *ngIf="ChangeSecretQuestion.get('secretQuestion').hasError('required') && ChangeSecretQuestion.get('secretQuestion').touched">
            {{requerid}}</mat-error>
          <mat-error>{{errors.secretQuestion}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3"> 
          <input onlyLetters matInput placeholder="Nueva respuesta secreta" type="password"
            formControlName="secretAnswer" required>
          <mat-error
            *ngIf="ChangeSecretQuestion.get('secretAnswer').hasError('required') && ChangeSecretQuestion.get('secretAnswer').touched">
            {{requerid}}</mat-error>
          <mat-error>
            {{errors.secretAnswer}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="accent" [disabled]="!ChangeSecretQuestion.valid"
      (click)="submit()">Guardar</button>
  </form>
</mat-card>