
<form [formGroup]="editRolForm" class="popup-card-width w-100">
	<div>
		<h2 mat-dialog-title>Modificar Rol</h2>
	</div>	
	<mat-dialog-content class="mb-4">
		<div>
			<div>			
				<mat-form-field style =" margin-right: 2%; width: 48%;">
					<input autocomplete="off" oncopy="return false" onpaste ="return false" appOnlyLettersNumber matInput type="text" formControlName="code" class="form-control" placeholder="Código" maxlength="10" >
						<mat-error *ngIf="editRolForm.controls['code'].touched && !editRolForm.controls['code'].valid">
							<mat-error *ngIf="editRolForm.controls['code'].hasError('required')" class="required alert-error">  
								El campo es obligatorio.
							</mat-error>
						</mat-error>
				</mat-form-field>

			<!-- 	<mat-form-field style =" margin-right: 2%; width: 48%;">
					<mat-select matNativeControl  placeholder="Concepto" formControlName ="idConcept">
						<mat-option  *ngFor="let concept of CONCEPTDATA" value="{{ concept.id }}">{{ concept.name }}</mat-option>
					</mat-select>
				</mat-form-field> -->

				<mat-form-field style =" margin-right: 2%; width: 48%;">
					<input autocomplete="off" oncopy="return false" onpaste ="return false" appOnlyLetter  matInput type="text" formControlName ="name" class="form-control" placeholder="Nombre" maxlength="30">
						<mat-error *ngIf="editRolForm.controls['name'].touched && !editRolForm.controls['name'].valid">
							<mat-error *ngIf="editRolForm.controls['name'].hasError('required')" class="required alert-error">  
								El campo es obligatorio.
							</mat-error>
						</mat-error>
        </mat-form-field>

        <mat-form-field style =" margin-right: 2%; width: 98%;">
					<textarea autocomplete="off" oncopy="return false" onpaste ="return false" appOnlyLettersNumber  matInput type="text" formControlName ="description" class="form-control" placeholder="Descripción" maxlength="30"></textarea>
						<mat-error *ngIf="editRolForm.controls['description'].touched && !editRolForm.controls['description'].valid">
							<mat-error *ngIf="editRolForm.controls['description'].hasError('required')" class="required alert-error">  
								El campo es obligatorio.
							</mat-error>
						</mat-error>
				</mat-form-field>
			</div>
      	</div>
	</mat-dialog-content>
	
	<mat-dialog-actions class="m-0">
		<button type="button" mat-raised-button (click)="dialogRef.close()" color="primary">Cancelar</button>
		<button (click)="onFormSubmit()" type="submit" [disabled]="!editRolForm.valid" mat-raised-button color="warn">Guardar</button>
	</mat-dialog-actions>
</form>
<!-- add-new-user -->
